<h2>Store: <%= @store.name() %></h2>
<hr>

<% if @brand %>
<h3>Available Brands: <%= @brand.name %> </h3>

<% else %>
<p><strong><em>No brands available!</em></strong></p>
<br>
<p><a href="/brands">Add a brand to this store</a></p>

<% end %>

<h3>Delete store</h3>
<form action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete</button>
</form>
