<form class="/store/rename/<%= @store.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename  <%= @store.name() %>:</label>
  <input id="name" name="name" type="text" required>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="row">
  <br>
  <div class="col-md-2">
    <a href="/" class = "btn btn-success active" role = "button">Home</a>
  </div>
</div>
